.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 50px;
}

.App-link {
  color: #61dafb;
}

.input-field{
  height: 50px;
  width: 600px;
  border: 0;
  border-radius: 30px;
  border: 1px solid rgb(190, 190, 190);
  outline: none;
  padding: 20px;
  
}

.input-field:hover{
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-color{
  background-color: rgb(212, 212, 212);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}